Repository apache/arrow-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-445: [Flight] Add middleware for auth2 bearer tokens
  flight/flight-core/src/main/java/org/apache/arrow/flight/auth2/ClientBearerMiddleware.java
Owners: @lidavidm, @laurentgo, @wgtmac

update
  .github/workflows/test.yml
  docker-compose.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

rename
  .editorconfig
Owners: none

fix warning and info by shfmt
  ci/scripts/java_build.sh
  ci/scripts/java_test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix info by shfmt
  ci/scripts/java_test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

add basic checks into precommit
  .pre-commit-config.yaml
Owners: @lidavidm, @laurentgo, @wgtmac

fix indentations
  adapter/jdbc/src/test/resources/h2/test1_est_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_est_time_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_est_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_gmt_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_gmt_time_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_gmt_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_pst_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_real_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_selected_datatypes_null_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_smallint_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_time_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_tinyint_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_varchar_h2.yml
Owners: @lidavidm, @laurentgo, @wgtmac

adjust brank lines in yml files
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_h2.yml
Owners: @lidavidm, @laurentgo, @wgtmac

fix indentations
  .github/ISSUE_TEMPLATE/usage_question.yaml
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_null_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_selected_null_rows_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_bigint_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_binary_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_bit_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_blob_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_bool_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_list_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_pst_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_pst_time_h2.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix indentations
  adapter/jdbc/src/test/resources/h2/test1_char_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_ch_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_jp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_kr_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_clob_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_decimal_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_double_h2.yml
  arrow-format/substrait/extension_types.yaml
Owners: @lidavidm, @laurentgo, @wgtmac

add config file for shfmt
  .editconfig
Owners: none

fix error/warning in sh files
  ci/scripts/java_build.sh
  ci/scripts/java_jni_build.sh
  ci/scripts/java_test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix format errors in non-test yaml files
  .github/ISSUE_TEMPLATE/usage_question.yaml
  docker-compose.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix format errors in non-test yaml files
  docker-compose.yml
Owners: none

fix jni build failure
  ci/scripts/java_jni_build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-13: Set up JNI build (dataset, etc.)
  .env
  .github/workflows/test_jni.yml
  ci/docker/vcpkg-jni.dockerfile
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  docker-compose.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

MINOR: Update latest java version to 23
  .github/workflows/test.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

add VariableWidthViewVectorBenchmarks
  performance/src/main/java/org/apache/arrow/vector/VariableWidthViewVectorBenchmarks.java
  vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
Owners: @lidavidm, @laurentgo, @wgtmac

Implement VectorAppender for BaseVariableWidthViewVector
  vector/src/main/java/org/apache/arrow/vector/util/VectorAppender.java
  vector/src/test/java/org/apache/arrow/vector/util/TestVectorAppender.java
Owners: @lidavidm, @laurentgo, @wgtmac

format
  vector/src/main/java/org/apache/arrow/vector/util/VectorAppender.java
  vector/src/test/java/org/apache/arrow/vector/util/TestVectorAppender.java
Owners: @lidavidm, @laurentgo, @wgtmac

add basic checks into precommit
  .pre-commit-config.yaml
Owners: @lidavidm, @laurentgo, @wgtmac

fix error/warning in sh files
  ci/scripts/java_build.sh
  ci/scripts/java_jni_build.sh
  ci/scripts/java_test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix warning and info by shfmt
  ci/scripts/java_build.sh
  ci/scripts/java_test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix indentations
  adapter/jdbc/src/test/resources/h2/test1_char_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_ch_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_jp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_charset_kr_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_clob_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_decimal_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_double_h2.yml
  arrow-format/substrait/extension_types.yaml
Owners: @lidavidm, @laurentgo, @wgtmac

adjust brank lines in yml files
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_h2.yml
Owners: @lidavidm, @laurentgo, @wgtmac

fix indentations
  .github/ISSUE_TEMPLATE/usage_question.yaml
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_null_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_all_datatypes_selected_null_rows_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_bigint_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_binary_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_bit_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_blob_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_bool_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_list_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_pst_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_pst_time_h2.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

rename
  .editorconfig
Owners: none

fix indentations
  adapter/jdbc/src/test/resources/h2/test1_est_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_est_time_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_est_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_gmt_date_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_gmt_time_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_gmt_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_pst_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_real_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_selected_datatypes_null_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_smallint_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_time_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_timestamp_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_tinyint_h2.yml
  adapter/jdbc/src/test/resources/h2/test1_varchar_h2.yml
Owners: @lidavidm, @laurentgo, @wgtmac

fix info by shfmt
  ci/scripts/java_test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix format errors in non-test yaml files
  .github/ISSUE_TEMPLATE/usage_question.yaml
  docker-compose.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

add config file for shfmt
  .editconfig
Owners: none

exclude yamlfmt for GH-12 since this leads to unexpected formatting
  .pre-commit-config.yaml
Owners: @lidavidm, @laurentgo, @wgtmac

fix format errors in non-test yaml files
  docker-compose.yml
Owners: none

fix jni build failure
  ci/scripts/java_jni_build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Implement VectorAppender for BaseVariableWidthViewVector
  vector/src/main/java/org/apache/arrow/vector/util/VectorAppender.java
  vector/src/test/java/org/apache/arrow/vector/TestUtils.java
  vector/src/test/java/org/apache/arrow/vector/TestVariableWidthViewVector.java
  vector/src/test/java/org/apache/arrow/vector/testing/ValueVectorDataPopulator.java
  vector/src/test/java/org/apache/arrow/vector/util/TestVectorAppender.java
Owners: @lidavidm, @laurentgo, @wgtmac

remove yamlfmt
  .pre-commit-config.yaml
Owners: @lidavidm, @laurentgo, @wgtmac

fix format failures
  ci/scripts/java_build.sh
  ci/scripts/java_jni_build.sh
  ci/scripts/java_test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Allow arbitrary parameter binding on JDBC driver
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightMetaImpl.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/AvaticaParameterBinder.java
Owners: @lidavidm, @laurentgo, @wgtmac

Improve TZ support for JDBC driver
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcDateVectorAccessor.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeVectorAccessor.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/SqlTypes.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-466: Export namespace from Flight package
  flight/flight-core/src/main/java/module-info.java
Owners: @lidavidm, @laurentgo, @wgtmac

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# modules
/adapter/       @lidavidm @laurentgo @wgtmac
/algorithm/     @lidavidm @laurentgo @wgtmac
/arrow-format/  @lidavidm @laurentgo @wgtmac
/c/             @lidavidm @laurentgo @wgtmac
/compression/   @lidavidm @laurentgo @wgtmac
/dataset/       @lidavidm @laurentgo @wgtmac
/flight/        @lidavidm @laurentgo @wgtmac
/format/        @lidavidm @laurentgo @wgtmac
/gandiva/       @lidavidm @laurentgo @wgtmac
/memory/        @lidavidm @laurentgo @wgtmac
/performance/   @lidavidm @laurentgo @wgtmac
/tools/         @lidavidm @laurentgo @wgtmac
/vector/        @lidavidm @laurentgo @wgtmac
CMakeLists.txt  @lidavidm @laurentgo @wgtmac

# release scripts
/ci/   @lidavidm @laurentgo @wgtmac @kou
/dev/  @lidavidm @laurentgo @wgtmac @kou

# PR CI and repository files
/.github/                @lidavidm @laurentgo @wgtmac @kou
/.asf.yaml               @lidavidm @laurentgo @wgtmac @kou
/.env                   @lidavidm @laurentgo @wgtmac
/.pre-commit-config.yaml @lidavidm @laurentgo @wgtmac
/Brewfile                @lidavidm @laurentgo @wgtmac
/docker-compose.yaml     @lidavidm @laurentgo @wgtmac

# Java specific
/.mvn/  @lidavidm @laurentgo @wgtmac
/bom/   @lidavidm @laurentgo @wgtmac
pom.xml @lidavidm @laurentgo @wgtmac
