Repository apache/arrow-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lidavidm, @laurentgo, @wgtmac, @kou

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# modules
/adapter/       @lidavidm @laurentgo @wgtmac
/algorithm/     @lidavidm @laurentgo @wgtmac
/arrow-format/  @lidavidm @laurentgo @wgtmac
/c/             @lidavidm @laurentgo @wgtmac
/compression/   @lidavidm @laurentgo @wgtmac
/dataset/       @lidavidm @laurentgo @wgtmac
/flight/        @lidavidm @laurentgo @wgtmac
/format/        @lidavidm @laurentgo @wgtmac
/gandiva/       @lidavidm @laurentgo @wgtmac
/memory/        @lidavidm @laurentgo @wgtmac
/performance/   @lidavidm @laurentgo @wgtmac
/tools/         @lidavidm @laurentgo @wgtmac
/vector/        @lidavidm @laurentgo @wgtmac
CMakeLists.txt  @lidavidm @laurentgo @wgtmac

# release scripts
/ci/   @lidavidm @laurentgo @wgtmac @kou
/dev/  @lidavidm @laurentgo @wgtmac @kou

# PR CI and repository files
/.github/                @lidavidm @laurentgo @wgtmac @kou
/.asf.yaml               @lidavidm @laurentgo @wgtmac @kou
/.env                   @lidavidm @laurentgo @wgtmac
/.pre-commit-config.yaml @lidavidm @laurentgo @wgtmac
/Brewfile                @lidavidm @laurentgo @wgtmac
/docker-compose.yaml     @lidavidm @laurentgo @wgtmac

# Java specific
/.mvn/  @lidavidm @laurentgo @wgtmac
/bom/   @lidavidm @laurentgo @wgtmac
pom.xml @lidavidm @laurentgo @wgtmac

MINOR: Specify --repo explicitly
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-603: [Release] Suppress a nested tag warning in `dev/release/release.sh`
  dev/release/release.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-604: [Release] Upload only source archive to dist.apache.org
  dev/release/release.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-605: [Release] Show the repository.apache.org step
  dev/release/release.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-609: [Release] Wait between artifact uploads
  .github/workflows/release.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-611: Update docs version in release process
  dev/release/README.md
  dev/release/bump_version.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-611: [Docs] Detect version from pom.xml
  docs/source/conf.py
Owners: none

Use XML parser
  docs/source/conf.py
Owners: none

MINOR: Bump version to 19.0.0-SNAPSHOT
  adapter/avro/pom.xml
  adapter/jdbc/pom.xml
  adapter/orc/pom.xml
  algorithm/pom.xml
  bom/pom.xml
  c/pom.xml
  compression/pom.xml
  dataset/pom.xml
  flight/flight-core/pom.xml
  flight/flight-integration-tests/pom.xml
  flight/flight-sql-jdbc-core/pom.xml
  flight/flight-sql-jdbc-driver/pom.xml
  flight/flight-sql/pom.xml
  flight/pom.xml
  format/pom.xml
  gandiva/pom.xml
  memory/memory-core/pom.xml
  memory/memory-netty-buffer-patch/pom.xml
  memory/memory-netty/pom.xml
  memory/memory-unsafe/pom.xml
  memory/pom.xml
  performance/pom.xml
  pom.xml
  tools/pom.xml
  vector/pom.xml
Owners: @lidavidm, @laurentgo, @wgtmac

MINOR: ZstdCompressionCodec should use decompressedSize to get error name
  compression/src/main/java/org/apache/arrow/compression/ZstdCompressionCodec.java
Owners: @lidavidm, @laurentgo, @wgtmac

Expire cache when vcpkg version is changed.
  compose.yaml
Owners: none

Fix syntax error.
  compose.yaml
Owners: none

GH-623: Cleanup enabling Gandiva tests change
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

MINOR: Fix typo in dev_pr.js
  .github/workflows/dev_pr.js
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-625: Map MinorType getNewFieldWriter returns UnionMapWriter
  vector/src/main/java/org/apache/arrow/vector/types/Types.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-629: Add post-release tasks to dev/release/README.md
  dev/release/README.md
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

add test
  vector/src/test/java/org/apache/arrow/vector/TestMapVector.java
Owners: @lidavidm, @laurentgo, @wgtmac

Upgrade to Spotless 2.44.3 and Google Java Format 1.17 (supporting JDK23)
  adapter/avro/src/main/java/org/apache/arrow/adapter/avro/AvroToArrowConfig.java
  adapter/avro/src/main/java/org/apache/arrow/adapter/avro/AvroToArrowUtils.java
  adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinder.java
  adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfig.java
  adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinderTest.java
  adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/UnreliableMetaDataTest.java
  bom/pom.xml
  compression/src/main/java/org/apache/arrow/compression/Lz4CompressionCodec.java
  compression/src/main/java/org/apache/arrow/compression/ZstdCompressionCodec.java
  compression/src/test/java/org/apache/arrow/compression/TestArrowReaderWriterWithCompression.java
  flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  flight/flight-core/src/test/java/org/apache/arrow/flight/TestLargeMessage.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationManager.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/BufferAllocator.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
  memory/memory-core/src/main/java/org/apache/arrow/util/AutoCloseables.java
  pom.xml
  vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  vector/src/main/java/org/apache/arrow/vector/compare/VectorVisitor.java
  vector/src/main/java/org/apache/arrow/vector/dictionary/ListSubfieldEncoder.java
  vector/src/main/java/org/apache/arrow/vector/dictionary/StructSubfieldEncoder.java
  vector/src/main/java/org/apache/arrow/vector/table/Row.java
  vector/src/test/java/org/apache/arrow/vector/TestDenseUnionVector.java
  vector/src/test/java/org/apache/arrow/vector/TestDictionaryVector.java
  vector/src/test/java/org/apache/arrow/vector/TestFixedSizeListVector.java
  vector/src/test/java/org/apache/arrow/vector/TestIntervalMonthDayNanoVector.java
  vector/src/test/java/org/apache/arrow/vector/TestUnionVector.java
  vector/src/test/java/org/apache/arrow/vector/TestVectorSchemaRoot.java
  vector/src/test/java/org/apache/arrow/vector/ipc/MessageSerializerTest.java
  vector/src/test/java/org/apache/arrow/vector/ipc/TestArrowReaderWriter.java
Owners: @lidavidm, @laurentgo, @wgtmac

Reformat code
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcDateVectorAccessor.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeVectorAccessor.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/SqlTypes.java
Owners: @lidavidm, @laurentgo, @wgtmac

Fix tests
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/SqlTypes.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ArrowDatabaseMetadataTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/SqlTypesTest.java
Owners: @lidavidm, @laurentgo, @wgtmac

Undo breaking change for ArrowFlightJdbcTimeStampVectorAccessor.getTimestamp
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/SqlTypes.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm, @laurentgo, @wgtmac

Also fix getTime and getDate
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
Owners: @lidavidm, @laurentgo, @wgtmac

Add unit tests for java.time objects for TimeStampVectorAccessor
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm, @laurentgo, @wgtmac

Minor test tweaks
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm, @laurentgo, @wgtmac

Use Instant to generate ZonedDateTime
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm, @laurentgo, @wgtmac

Add docstring to test method
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm, @laurentgo, @wgtmac

Upgrade to GH actions/cache 4.2.2
  .github/workflows/dev.yml
  .github/workflows/rc.yml
  .github/workflows/test.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Upgrade to Spotless 2.44.3 and Google Java Format 1.17 (supporting JDK23)
  adapter/avro/src/main/java/org/apache/arrow/adapter/avro/AvroToArrowConfig.java
  adapter/avro/src/main/java/org/apache/arrow/adapter/avro/AvroToArrowUtils.java
  adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinder.java
  adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfig.java
  adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinderTest.java
  adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/UnreliableMetaDataTest.java
  bom/pom.xml
  c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  c/src/test/java/org/apache/arrow/c/StreamTest.java
  compression/src/main/java/org/apache/arrow/compression/Lz4CompressionCodec.java
  compression/src/main/java/org/apache/arrow/compression/ZstdCompressionCodec.java
  compression/src/test/java/org/apache/arrow/compression/TestArrowReaderWriterWithCompression.java
  flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  flight/flight-core/src/test/java/org/apache/arrow/flight/TestLargeMessage.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationManager.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/BufferAllocator.java
  memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
  memory/memory-core/src/main/java/org/apache/arrow/util/AutoCloseables.java
  pom.xml
  vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  vector/src/main/java/org/apache/arrow/vector/compare/VectorVisitor.java
  vector/src/main/java/org/apache/arrow/vector/dictionary/ListSubfieldEncoder.java
  vector/src/main/java/org/apache/arrow/vector/dictionary/StructSubfieldEncoder.java
  vector/src/main/java/org/apache/arrow/vector/table/Row.java
  vector/src/test/java/org/apache/arrow/vector/TestDenseUnionVector.java
  vector/src/test/java/org/apache/arrow/vector/TestDictionaryVector.java
  vector/src/test/java/org/apache/arrow/vector/TestFixedSizeListVector.java
  vector/src/test/java/org/apache/arrow/vector/TestIntervalMonthDayNanoVector.java
  vector/src/test/java/org/apache/arrow/vector/TestUnionVector.java
  vector/src/test/java/org/apache/arrow/vector/TestVectorSchemaRoot.java
  vector/src/test/java/org/apache/arrow/vector/ipc/MessageSerializerTest.java
  vector/src/test/java/org/apache/arrow/vector/ipc/TestArrowReaderWriter.java
Owners: @lidavidm, @laurentgo, @wgtmac

MINOR: Add explicit exception when no more buffer can be read when loading buffers
  vector/src/main/java/org/apache/arrow/vector/VectorLoader.java
Owners: @lidavidm, @laurentgo, @wgtmac

Update versions in LICENSE/NOTICE
  flight/flight-integration-tests/src/shade/LICENSE.txt
  flight/flight-integration-tests/src/shade/NOTICE.txt
  flight/flight-sql-jdbc-driver/src/shade/LICENSE.txt
  flight/flight-sql-jdbc-driver/src/shade/NOTICE.txt
  tools/src/shade/LICENSE.txt
  tools/src/shade/NOTICE.txt
  vector/src/shade/LICENSE.txt
Owners: @lidavidm, @laurentgo, @wgtmac

GH-653 Nullify fieldReader when invalidating parent object.
  vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
Owners: @lidavidm, @laurentgo, @wgtmac

ci: add action to assign milestone to PR/issue
  .github/workflows/dev_pr.yml
  .github/workflows/dev_pr_milestone.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Update .github/workflows/dev_pr.yml
  .github/workflows/dev_pr.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-81: [Flight] Expose gRPC in Flight client builder
  flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  flight/flight-core/src/main/java/org/apache/arrow/flight/FlightGrpcUtils.java
  flight/flight-core/src/main/java/org/apache/arrow/flight/grpc/NettyClientBuilder.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-494: [Flight] Allow configuring connect timeout in JDBC
  flight/flight-sql-jdbc-core/pom.xml
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightConnection.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImpl.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandlerBuilderTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImplTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/FallbackFlightSqlProducer.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-661: [Flight] JDBC: cache failed locations
  flight/flight-sql-jdbc-core/pom.xml
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightConnection.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/utils/FlightClientCache.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/utils/FlightLocationQueue.java
  flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImpl.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandlerBuilderTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/utils/FlightClientCacheTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/utils/FlightLocationQueueTest.java
  flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImplTest.java
Owners: @lidavidm, @laurentgo, @wgtmac

MINOR: Add check-shebang-scripts-are-executable
  .github/workflows/dev_pr_milestone.sh
  .pre-commit-config.yaml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou
