Repository apache/arrow-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lidavidm, @laurentgo, @wgtmac, @kou

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# modules
/adapter/       @lidavidm @laurentgo @wgtmac
/algorithm/     @lidavidm @laurentgo @wgtmac
/arrow-format/  @lidavidm @laurentgo @wgtmac
/c/             @lidavidm @laurentgo @wgtmac
/compression/   @lidavidm @laurentgo @wgtmac
/dataset/       @lidavidm @laurentgo @wgtmac
/flight/        @lidavidm @laurentgo @wgtmac
/format/        @lidavidm @laurentgo @wgtmac
/gandiva/       @lidavidm @laurentgo @wgtmac
/memory/        @lidavidm @laurentgo @wgtmac
/performance/   @lidavidm @laurentgo @wgtmac
/tools/         @lidavidm @laurentgo @wgtmac
/vector/        @lidavidm @laurentgo @wgtmac
CMakeLists.txt  @lidavidm @laurentgo @wgtmac

# release scripts
/ci/   @lidavidm @laurentgo @wgtmac @kou
/dev/  @lidavidm @laurentgo @wgtmac @kou

# PR CI and repository files
/.github/                @lidavidm @laurentgo @wgtmac @kou
/.asf.yaml               @lidavidm @laurentgo @wgtmac @kou
/.env                   @lidavidm @laurentgo @wgtmac
/.pre-commit-config.yaml @lidavidm @laurentgo @wgtmac
/Brewfile                @lidavidm @laurentgo @wgtmac
/docker-compose.yaml     @lidavidm @laurentgo @wgtmac

# Java specific
/.mvn/  @lidavidm @laurentgo @wgtmac
/bom/   @lidavidm @laurentgo @wgtmac
pom.xml @lidavidm @laurentgo @wgtmac

Use /build/java
  compose.yaml
Owners: none

Remove /java
  ci/scripts/build.sh
  ci/scripts/test.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Fix key
  .github/workflows/test.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Fix value
  .github/workflows/rc.yml
  ci/scripts/build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Change building docs phase
  .github/workflows/rc.yml
  ci/scripts/jni_full_build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Order
  ci/scripts/jni_full_build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Don't use apache-release
  ci/scripts/jni_full_build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Remove garbage
  ci/scripts/jni_full_build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Log
  ci/scripts/jni_full_build.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

add testAppendLongVariableWidthViewVector
  vector/src/main/java/org/apache/arrow/vector/util/VectorAppender.java
  vector/src/test/java/org/apache/arrow/vector/util/TestVectorAppender.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-549:Fix Incorrect NOTICE File and Update LICENSE Headers for Third-Party Code Compliance
  LICENSE.txt
  NOTICE.txt
  dev/checkstyle/suppressions.xml
  memory/memory-core/src/main/java/org/apache/arrow/util/Preconditions.java
  pom.xml
  vector/src/main/java/org/apache/arrow/vector/util/IntObjectHashMap.java
  vector/src/main/java/org/apache/arrow/vector/util/IntObjectMap.java
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-546: Migrate Sphinx documentation
  .github/workflows/rc.yml
  .gitignore
  docs/Makefile
  docs/README.md
  docs/requirements.txt
  docs/source/_static/.gitignore
  docs/source/algorithm.rst
  docs/source/cdata.rst
  docs/source/conf.py
  docs/source/dataset.rst
  docs/source/developers/building.rst
  docs/source/developers/development.rst
  docs/source/developers/img/conbench_benchmark.png
  docs/source/developers/img/conbench_runs.png
  docs/source/developers/img/conbench_ui.png
  docs/source/developers/index.rst
  docs/source/flight.rst
  docs/source/flight_sql.rst
  docs/source/flight_sql_jdbc_driver.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/ipc.rst
  docs/source/jdbc.rst
  docs/source/memory.rst
  docs/source/overview.rst
  docs/source/quickstartguide.rst
  docs/source/reference/index.rst
  docs/source/substrait.rst
  docs/source/table.rst
  docs/source/vector.rst
  docs/source/vector_schema_root.rst
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

[GH-470]ListViewVector#getElementEndIndex should returns size not index.
  vector/src/main/java/org/apache/arrow/vector/complex/ListViewVector.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-545: [CI] Use apache/arrow main for daily RC CI
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Update docs/README.md
  docs/README.md
Owners: none

combine docs
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

typo
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

oh, download-artifact doesn't work that way
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

simplify
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

fix path
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Update .github/workflows/rc.yml
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

add VariableWidthViewVectorInlineValueBenchmarks
  performance/src/main/java/org/apache/arrow/vector/VariableWidthVectorInlineValueBenchmarks.java
  performance/src/main/java/org/apache/arrow/vector/VariableWidthViewVectorInlineValueBenchmarks.java
  vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
Owners: @lidavidm, @laurentgo, @wgtmac

move constants
  performance/src/main/java/org/apache/arrow/vector/VariableWidthVectorBenchmarkConstants.java
  performance/src/main/java/org/apache/arrow/vector/VariableWidthVectorBenchmarks.java
  performance/src/main/java/org/apache/arrow/vector/VariableWidthVectorInlineValueBenchmarks.java
  performance/src/main/java/org/apache/arrow/vector/VariableWidthViewVectorBenchmarks.java
  performance/src/main/java/org/apache/arrow/vector/VariableWidthViewVectorInlineValueBenchmarks.java
Owners: @lidavidm, @laurentgo, @wgtmac

remove filter
  performance/src/main/java/org/apache/arrow/vector/VariableWidthVectorInlineValueBenchmarks.java
  performance/src/main/java/org/apache/arrow/vector/VariableWidthViewVectorInlineValueBenchmarks.java
Owners: @lidavidm, @laurentgo, @wgtmac

setZero in prepare
  performance/src/main/java/org/apache/arrow/vector/VariableWidthViewVectorInlineValueBenchmarks.java
Owners: @lidavidm, @laurentgo, @wgtmac

BaseVariableWidthViewVector setZero only if necessary
  vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
Owners: @lidavidm, @laurentgo, @wgtmac

comment
  vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-558: ComplexCopier supports for Duration columns.
  vector/src/main/codegen/templates/ComplexCopier.java
  vector/src/test/java/org/apache/arrow/vector/complex/impl/TestComplexCopier.java
Owners: @lidavidm, @laurentgo, @wgtmac

GH-547: [CI][Docs] Publish docs to https://arrow.apache.org/java/main/ on push
  .asf.yaml
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-548: [Release][Docs] Publish docs to https://arrow.apache.org/java/current/ on release
  .github/workflows/rc.yml
  .github/workflows/release.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Use docs or documentation
  .github/workflows/rc.yml
  .github/workflows/release.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Use more interval
  dev/release/release_rc.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Fix style
  dev/release/release_rc.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-570: [Docs] Use https://arrow.apache.org/java/ as the official site URL
  .asf.yaml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

GH-571: [Docs] Redirect https://arrow.apache.org/java/ to https://arrow.apache.org/java/current/
  .htaccess
Owners: none

GH-571: [Docs] Fix redirect pattern
  .htaccess
Owners: none

Add jbonofre to collaborators
  .asf.yaml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

Add and fix LICENSE.txt and NOTICE.txt in the distributed artifacts
  flight/flight-integration-tests/pom.xml
  flight/flight-integration-tests/src/shade/LICENSE.txt
  flight/flight-integration-tests/src/shade/NOTICE.txt
  flight/flight-sql-jdbc-driver/pom.xml
  flight/flight-sql-jdbc-driver/src/shade/LICENSE.txt
  flight/flight-sql-jdbc-driver/src/shade/NOTICE.txt
  flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ITDriverJarValidation.java
  tools/pom.xml
  tools/src/shade/LICENSE.txt
  tools/src/shade/NOTICE.txt
  vector/pom.xml
  vector/src/shade/LICENSE.txt
  vector/src/shade/NOTICE.txt
Owners: @lidavidm, @laurentgo, @wgtmac

GH-588: [Release] Increase wait interval in `dev/release/release_rc.sh`
  dev/release/release_rc.sh
Owners: @lidavidm, @laurentgo, @wgtmac, @kou

MINOR: Upload release artifacts individually with sleep
  .github/workflows/rc.yml
Owners: @lidavidm, @laurentgo, @wgtmac, @kou
